.profile {
  color: white;
  display: grid;
  align-items: center;
  grid-template-columns: 150px auto 150px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}