.profile__add-button {
  padding: 0;
  background-image: url(../../../images/add.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  border: 1px solid #FFFFFF;
  width: 150px;
  height: 50px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  transition: .5s;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 282px;
  }
}