.auth__button {
  padding: 0;
  margin-top: 216px;
  background-color: white;
  color: black;
  border: none;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: .5s;
  border-radius: 2px;
}

.auth__button:hover {
  opacity: .8;
}